body{
    background-color: rgb(96, 112, 165);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#submit{
    color: black;
}
::placeholder{
    color: black;
    font-weight: 700;
}